.main {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        color: black;
        margin-top: 46px;
        text-align: center;
        font-size: 24pt;
    }

    h2 {
        color: #414141;
        margin-top: 13px;
        text-align: center;
        font-size: 24pt;
    }
}